@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

html, body {
    height: 100%;
    font-size: x-large;

}

body {
    display: flex;
    flex-direction: column;
}

.nb {
    margin-bottom: 2%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

.bgd {
    background-image: linear-gradient(to right, white, grey);
}

.row {
    padding: 10px;
}

.post {
    margin-bottom: 2%;
    line-height: 150%;
}

.post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
}

.meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
}

.post-li {
    border-radius: 15px;
}

.points {
    border-right: 2px solid rgb(255, 255, 255);
}

.upv {
    padding-right: 5px;
}

.post-list {
    margin: 3%;
}

a, .header {
    text-decoration: none !important;
    color: white;
    transition: color .1s;
}

a:hover {
    color: #dadada;
}

.log {
    margin-top: 20px;
    
}

.postContent {
    padding: 10px;
    margin: 10px;
    border-top: 2px solid white;
}

.comment {
    padding: 10px;
    margin-top: 10px;
    border: 3px solid #343a40;
    border-radius: 15px;
    box-shadow: 1px 5px 5px 2px rgba(0, 0, 0, 0.41);
}

.commentBox {
    border: 3px solid #343a40;
    background: #7b8796;
    border-radius: 15px;
}

.commentBox::placeholder {
    color: rgb(216, 216, 216);
}

.commentBox:focus {
    background: #343a40;
}

.comment-form {
    margin: 3% 0 3% 0;
}

.comment-form button {
    margin-right: 10px;
}

.yourPosts {
    list-style: none;
    padding-inline-start: 0px !important;
}

.newPost {
    margin-bottom: 5%;
}

.create {
    margin-top: 2%;
}

.editBtn {
    margin: auto;
}

.postWithEdit {
    margin-bottom: 10px;
}

.delete-btn {
    margin-left: 5px;
}

footer {
    border-top: 1px solid #ccc;
    margin-top: 2%;
    padding: 5px;
    font-size: 110%;
}

.links {
    line-height: normal;
    margin-left: 2%;
}

.lnk {
    margin-bottom: 2px;
}

.thx {
    margin: auto;
}

.ftrRow {
    margin: 0;
}

.navbar {
    background-image: linear-gradient(to bottom, grey, red) !important;
}

li > a {
    color: black !important;
}

.typewriter h1 {
 font-family: 'Gochi Hand', cursive;
font-size: 6em;
    text-align: center;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 1.5s steps(10, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  